/* sets color for entire page */
body {
  background-color: rgb(45, 207, 94);
}

/* details for timer */
.timer {
  font-size: 32px;
  color: rgb(211, 35, 35);
  position: absolute;
  top: 10px;
  right: 10px;
}

/* properties for all pages */
.start,
.question-container,
#end-screen,
.highscore-container {
  text-align: center;
  position: relative;
  top: 250px;
  font-size: 35px;
  color: rgb(211, 35, 35);
  font-family: Arial, Helvetica, sans-serif;
}

/* properties for all buttons */
.button,
.choices {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(211, 35, 35);
  text-align: center;
  transition: all 0.2s;
  margin-top: 35px;
}

/* creates an effect when hovering over button */
.button:hover,
.choices:hover {
  color: #000000;
  background-color: #ffffff;
}

.choices {
  position: relative;
  left: 525px;
  top: 275px;
}

/* sets characteristics for feedback */
.feedback {
  text-align: center;
  font-style: Arial, Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 20px;
  padding-top: 10px;
  color: rgb(211, 35, 35);
  position: relative;
  top: 550px;
}

/* increases font on p element on end screen page */
.end-screen,
p {
  font-size: 35px;
  font-style: Arial, Helvetica, sans-serif;
}

/* changes size of submit button */
.submit {
  font-size: 24px;
}


/* moves h2 header on highscore screen */
.highscore-screen,
h2 {
  position: relative;
  left: 25px;
}


/* properties to help hide or show elements */
.hide {
  display: none;
}

.show {
  display: contents;
}
